<!-- Foooter -->
<section class="bg-background-light dark:bg-background-dark border-t border-primary-light dark:border-primary-dark">
  <div class="max-w-screen-xl px-4 py-12 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8">
    <nav class="flex flex-wrap justify-center -mx-5 -my-2 font-semibold">
      <div class="px-5 py-2">
        <a
          href="/"
          class="text-base leading-6 text-primary-light dark:text-primary-dark hover:text-primary-dark hover:dark:text-primary-light duration-100 transition-all ease-in-out">
          Home
        </a>
      </div>
      <div class="px-5 py-2">
        <a
          href="/profile"
          class="text-base leading-6 text-primary-light dark:text-primary-dark hover:text-primary-dark hover:dark:text-primary-light duration-100 transition-all ease-in-out">
          Profile
        </a>
      </div>
      <div class="px-5 py-2">
        <a
          href="/products"
          class="text-base leading-6 text-primary-light dark:text-primary-dark hover:text-primary-dark hover:dark:text-primary-light duration-100 transition-all ease-in-out">
          Products
        </a>
      </div>
      <div class="px-5 py-2">
        <a
          href="/orders"
          class="text-base leading-6 text-primary-light dark:text-primary-dark hover:text-primary-dark hover:dark:text-primary-light duration-100 transition-all ease-in-out">
          Orders
        </a>
      </div>
      <div class="px-5 py-2">
        <a
          href="/support/tickets"
          class="text-base leading-6 text-primary-light dark:text-primary-dark hover:text-primary-dark hover:dark:text-primary-light duration-100 transition-all ease-in-out">
          Support
        </a>
      </div>
    </nav>
    <div class="flex justify-center mt-8 space-x-6">
      <a
        href="https://www.facebook.com/share/1B4oNMGMQq/?mibextid=qi2Omg"
        class="text-primary-light dark:text-primary-dark hover:text-primary-dark hover:dark:text-primary-light duration-100 transition-all ease-in-out">
        <span class="sr-only">Facebook</span>
        <i class="fa-brands fa-facebook text-2xl"></i>
      </a>
      <a
        href="https://api.whatsapp.com/message/PBMO57SROWAFH1?autoload=1&app_absent=0"
        class="text-primary-light dark:text-primary-dark hover:text-primary-dark hover:dark:text-primary-light duration-100 transition-all ease-in-out">
        <span class="sr-only">Whatsapp</span>
        <i class="fa-brands fa-whatsapp text-2xl"></i>
      </a>

      <a
        href="https://discord.gg/2xKNAYX3nU"
        class="text-primary-light dark:text-primary-dark hover:text-primary-dark hover:dark:text-primary-light duration-100 transition-all ease-in-out">
        <span class="sr-only">Discord</span>
        <i class="fa-brands fa-discord text-2xl"></i>
      </a>
    </div>
    <p class="mt-8 text-base leading-6 text-center text-primary-light dark:text-primary-dark">
      © <%= new Date().getFullYear() %> Manga Store, Inc. All rights reserved.
    </p>
  </div>
</section>

 
