<div class="hidden popup fixed inset-0 bg-gray-900/25 bg-opacity-50 flex items-center justify-center z-50">
  <div role="alert" class="p-5 w-72 bg-white rounded-lg border border-gray-300 shadow-md relative flex flex-col gap-4">
    <p class="text-gray-800 font-extrabold text-lg title">Warning!</p>
    <p class="text-gray-700 text-sm font-normal body">
      Your transaction will be reviewed by our team. After that, we will deliver your product. Please make sure that you
      have made a real transaction to avoid a ban.
      <br />
      Thank you
    </p>
    <div class="flex justify-between gap-5">
      <button class="accept w-1/2 py-2 rounded-md bg-gray-800 text-white hover:bg-black">Continue</button>
      <button class="reject w-1/2 py-2 rounded-md bg-gray-200 text-gray-800 hover:bg-gray-300">Return</button>
    </div>
    <button
      class="exit-button absolute top-4 right-4 w-5 h-5 flex items-center justify-center bg-transparent hover:bg-gray-200 rounded-md">
      <i class="fas fa-times text-black text-xs"></i>
    </button>
  </div>
</div>
